# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo
*.egg-info/
*.egg
dist/
build/
venv/
.env
.venv/
*.log
*.pot

# Selenium/WebDriver
chromedriver*
geckodriver*
*.exe
*.msi

# IDE Specific
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Generated
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini